**THEORY QUESTIONS**

1.  What are data structures, and why are they important?
> Data structures are specialized formats for organizing, managing, and storing data in a computer so that it can be accessed and 1  used efficiently.

> Importance: They enable the creation of efficient algorithms and the development of complex software applications by providing a structured way to handle large amounts of information. Choosing the appropriate data structure significantly impacts the performance and scalability of programs, making them crucial for tasks ranging from simple data storage to complex operations in databases, operating systems, artificial intelligence, and more.

2.  Explain the difference between mutable and immutable data types with examples.
> Mutable data types are those whose state can be modified after they are created, meaning you can change their contents directly without creating a new object. In contrast, immutable data types are those whose state cannot be changed after creation; any operation that appears to modify an immutable object actually creates a new object with the modified value. 1  For example, in Python, lists are mutable, so you can add, remove, or change elements within an existing list. On the other hand, strings and tuples are immutable; if you want to change a string or tuple, you have to create a new one with the desired modifications.

3. What are the main differences between lists and tuples in Python?
> In Python, lists and tuples are both ordered sequences used to store collections of items, but they differ primarily in their mutability and the syntax used to define them. Lists are mutable, meaning their elements can be changed, added, or removed after creation, and they are defined using square brackets []. Conversely, tuples are immutable, so once created, their elements cannot be modified, and they are typically defined using parentheses (). This immutability makes tuples suitable for representing fixed collections of items, like coordinates or records, and can offer slight performance advantages in certain scenarios.

4. Describe how dictionaries store data.
> Dictionaries in Python store data as key-value pairs, where each unique key is associated with a corresponding value. 1  This structure allows for efficient retrieval of values based on their keys, similar to how you would look up a word in a physical dictionary. 2  When you want to access a specific piece of data in a dictionary, you use its key, and the dictionary quickly returns the associated value. 3  Internally, dictionaries often use a technique called hashing to map keys to specific memory locations, enabling fast lookups, insertions, and deletions, making them highly effective for managing and accessing data based on unique identifiers.

5. Why might you use a set instead of a list in Python?
> When you need to store a collection of unique elements and the order of those elements is not important. Sets automatically handle the removal of duplicate entries, ensuring that each item appears only once.

6. What is a string in Python, and how is it different from a list?
>  Lists are mutable, capable of holding a collection of items of various data types, and their elements can be modified, added, or removed. Strings, on the other hand, are specifically designed for textual data and are immutable sequences of characters.

7.  How do tuples ensure data integrity in Python?
> Once a tuple is created, the elements it contains cannot be modified, added, or removed. This characteristic guarantees that the data within the tuple remains constant throughout the program's execution. 1

8. What is a hash table, and how does it relate to dictionaries in Python?
> A hash table is a data structure that implements an associative array, also known as a map or dictionary. It works by using a hash function to compute an index (a "hash code") for each key, which then determines the location where the corresponding value is stored in an underlying array.

> Relation: dictionaries are implemented using hash tables. When you create a dictionary, Python uses a hash function to calculate a hash code for each key you provide. This hash code is then used to determine where the associated value is stored internally.

9. Can lists contain different data types in Python?
> Yes.

10. Explain why strings are immutable in Python.
> Strings are immutable in Python primarily for reasons of efficiency and design simplicity. Immutability allows Python to optimize memory allocation for strings. When you create a string literal, Python might reuse the same memory location if an identical string already exists in memory, a process called interning. This optimization can save significant memory, especially in programs that handle a lot of textual data.

11. What advantages do dictionaries offer over lists for certain tasks?
> Advantages:

Fast lookups (key-based access)

Efficient insertion and deletion (key-based)

Uniqueness of keys

Suitable for key-value relationships

12.  Describe a scenario where using a tuple would be preferable over a list.
> Scenarios where the elements should be fixed.

> Example: A point in a 2D plane, such as (x, y). Since the coordinates of a specific point are typically fixed and should not be accidentally altered, a tuple is a more suitable choice than a list. Using a tuple (3, 5) clearly signals that these two values together represent a single, unchanging entity. If you used a list [3, 5], there's a risk that some part of the program might unintentionally modify one of the coordinate values.>

13.  How do sets handle duplicate values in Python?
> Sets in Python inherently handle duplicate values by automatically discarding any subsequent attempts to add an element that is already present in the set. 1  When you try to insert a value that already exists, the set remains unchanged, effectively ensuring that each element within a set is unique. 2  This behavior is a fundamental characteristic of sets, stemming from their mathematical definition as a collection of distinct objects. Python's set implementation leverages this property to provide efficient membership testing and operations on unique collections of data.

14. How does the “in” keyword work differently for lists and dictionaries?
> The "in" keyword in Python operates differently for lists and dictionaries primarily due to their underlying structures and how they store and access data.

> For lists, the "in" keyword performs a sequential search through the elements of the list. It iterates from the beginning of the list, checking each element until it finds a match with the value being searched for or reaches the end of the list, whereas for **dictionaries**, the "in" keyword checks for the presence of a key within the dictionary's keys. Due to the underlying hash table implementation of dictionaries, this check is highly efficient.

15. Can you modify the elements of a tuple? Explain why or why not?
> No, you cannot modify the elements of a tuple in Python because tuples are immutable data types. Once a tuple is created, its contents are fixed and cannot be changed, added to, or removed. This immutability is a fundamental design choice that provides data integrity, ensuring that the sequence of items within the tuple remains constant throughout the program's execution, making them suitable for representing fixed collections of related data.

16. What is a nested dictionary, and give an example of its use case?
> A nested dictionary in Python is a dictionary where the values associated with some keys are themselves dictionaries. This allows you to represent hierarchical or more complex data structures by organizing information into multiple levels of key-value pairs.

A common use case for a nested dictionary is representing the structure of a university. You could have a main dictionary where the keys are department names, and the values are dictionaries containing information about each department, such as the courses offered and the faculty members.

17. Describe the time complexity of accessing elements in a dictionary.
> he time complexity of accessing elements (values) in a dictionary by their key is, on average, O(1), which is considered constant time. This remarkable efficiency is due to the underlying implementation of dictionaries using hash tables.

18. In what situations are lists preferred over dictionaries?
>  Lists are generally preferred over dictionaries when the order of elements is significant and needs to be maintained, or when you need to access elements based on their index rather than a specific key. 1  If you have a collection of items where duplicates are allowed and their sequence matters, or if you plan to iterate through the elements in a specific order, lists are the more appropriate choice. Furthermore, if you are dealing with a simple sequence of items without unique identifiers and frequent lookups based on a key are not required, lists offer a straightforward and efficient way to store and manipulate the data.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
> Because the order in which key-value pairs were inserted was not guaranteed to be preserved.

> This was due to their underlying implementation using hash tables, which prioritize efficient key-based access over maintaining insertion order. Consequently, when you iterated through the items of a dictionary, the order in which the key-value pairs were yielded could be arbitrary and might even change between different runs or different Python implementations. This lack of guaranteed order meant you couldn't rely on the sequence of items when retrieving data unless you specifically sorted the dictionary's keys or items.

20. Explain the difference between a list and a dictionary in terms of data retrieval.
> Data retrieval in lists relies on accessing elements by their numerical index, requiring a sequential scan in the worst case to find a specific value if you don't know its position, resulting in O(n) time complexity. In contrast, dictionaries enable data retrieval based on unique keys, leveraging a hashing mechanism that allows for direct access to the associated value in average O(1) time complexity. This key-based lookup in dictionaries makes retrieving specific information significantly faster and more efficient than iterating through a list, especially when dealing with large datasets where you know the unique identifier of the data you need.

**PRACTICAL QUESTIONS**

In [ ]:
# 1. Write a code to create a string with your name and print it.
my_name = "Mohammed Kashif Yunus"

print(my_name)

Mohammed Kashif Yunus

In [ ]:
# 2.  Write a code to find the length of the string "Hello World".
s = "Hello World"
print(len(s))

11

In [ ]:
# 3. Write a code to slice the first 3 characters from the string "Python Programming".
string = "Python Programming"
print(string[0:3])

Pyt

In [ ]:
# 4.  Write a code to convert the string "hello" to uppercase.
string = "hello"
print(string.upper())

HELLO

In [ ]:
# 5.  Write a code to replace the word "apple" with "orange" in the string "I like apple"
string = "I like apple"
new_string = string.replace("apple", "orange")
print(new_string)

I like orange

In [ ]:
# 6.  Write a code to create a list with numbers 1 to 5 and print it.
my_list = [1, 2, 3, 4, 5]
print(my_list)

[1, 2, 3, 4, 5]

In [ ]:
# 7. Write a code to append the number 10 to the list [1, 2, 3, 4].
my_list = [1, 2, 3, 4, 5]
my_list.append(10)
print(my_list)

[1, 2, 3, 4, 5, 10]

In [ ]:
# 8.  Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
my_list = [1, 2, 3, 4, 5]
my_list.remove(3)
print(my_list)

[1, 2, 4, 5]

In [ ]:
# 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
my_list = ['a', 'b', 'c', 'd']
second_element = my_list[1]
print(second_element)

b

In [ ]:
# 10. Write a code to reverse the list [10, 20, 30, 40, 50]
my_list = [10, 20, 30, 40, 50]
my_list.reverse()
print(my_list)

[50, 40, 30, 20, 10]

In [ ]:
# 11.  Write a code to create a tuple with the elements 100, 200, 300 and print it.
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

In [ ]:
# 12.  Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
my_tuple = ('red', 'green', 'blue', 'yellow')
second_last = my_tuple[-2]
print(second_last)

blue

In [ ]:
# 13.  Write a code to find the minimum number in the tuple (10, 20, 5, 15).
my_tuple = (10, 20, 5, 15)
min_number = min(my_tuple)
print(min_number)

5

In [ ]:
# 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
my_tuple = ('dog', 'cat', 'rabbit')
index_ = my_tuple.index('cat')
print(index_)

1

In [ ]:
# 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
fruits_tuple = ('apple', 'banana', 'orange')
is_kiwi_in = 'kiwi' in fruits_tuple
print(is_kiwi_in)

False

In [ ]:
# 16.  Write a code to create a set with the elements 'a', 'b', 'c' and print it.
my_set = {'k', 'b', 'c'}
print(my_set)

{'k', 'b', 'c'}

In [ ]:
# 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

In [ ]:
# 18.  Write a code to remove the element 4 from the set {1, 2, 3, 4}.
my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

In [ ]:
# 19.  Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

In [ ]:
# 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1.intersection(set2)
print(intersection_set)

{2, 3}

In [ ]:
# 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
my_dict = {
    "name": "John Doe",
    "age": 30,
    "city": "New York"
}
print(my_dict)

{'name': 'John Doe', 'age': 30, 'city': 'New York'}

In [ ]:
# 22.  Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
my_dict = {
    "name": "John Doe",
    "age": 30,
    "city": "New York",
    "country": "USA"
}
print(my_dict)

{'name': 'John Doe', 'age': 30, 'city': 'New York', 'country': 'USA'}

In [ ]:
# 23.  Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
my_dict = {
    "name": "Alice",
    "age": 30
}
name_value = my_dict["name"]
print(name_value)

Alice

In [ ]:
# 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
my_dict = {
    "name": "Bob",
    "age": 22,
    "city": "New York"
}
del my_dict["age"]
print(my_dict)

{'name': 'Bob', 'city': 'New York'}

In [ ]:
# 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
my_dict = {
    "name": "Alice",
    "city": "Paris"
}
if "city" in my_dict:
    print("Key 'city' exists")
else:
    print("Key 'city' does not exist")

Key 'city' exists

In [ ]:
# 26. Write a code to create a list, a tuple, and a dictionary, and print them all.
my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {"a": 7, "b": 8, "c": 9}

print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3]
Tuple: (4, 5, 6)
Dictionary: {'a': 7, 'b': 8, 'c': 9}

In [ ]:
""" 27.  Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)."""
import random
random_numbers = [random.randint(1, 100) for _ in range(5)]
random_numbers.sort()
print(random_numbers)

[39, 47, 70, 72, 93]

In [ ]:
# 28. Write a code to create a list with strings and print the element at the third index.
my_list = ["apple", "banana", "cherry", "date", "fig"]
print(my_list[3])

date

In [ ]:
# 29. Write a code to combine two dictionaries into one and print the result.
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
combined_dict = {**dict1, **dict2}
print(combined_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [ ]:
# 30. Write a code to convert a list of strings into a set.
my_list = ["apple", "banana", "cherry", "date", "fig"]
my_set = set(my_list)
print(my_set)

{'cherry', 'date', 'banana', 'fig', 'apple'}